<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget 
        id        = "com.timspear.latebars"
        version   = "1.0.0">

    <name>Late Bars</name>

    <description>
        late bars
    </description>

    <author href="http://timspear.com" email="support@phonegap.com">
       
    </author>

    
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    

<access origin="http://127.0.0.1*"/> <!-- allow local pages -->
<access origin="http://googleapis.com" subdomains="true" /> 
<access origin="https://googleapis.com" subdomains="true" /> 
    <access origin="*" browserOnly="true" /> <!-- Allow external links, but only through the browser -->

</widget>